#map,
#inicio,
#inicio img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.inicio-descricao {
    position: relative;
    display: block;
    z-index: 3;
    color: white;
    font-weight: 200!important;
    font-size: large;
}

#inicio {
    background-color: #4b08a2e5!important;
    z-index: 1;
}

.inicio-descricao img {
    width: 150px;
}

#map {
    z-index: 0;
}

* {}

body {
    margin: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

body ul li {
    list-style: none!important;
}


/* Style the top navigation bar */

.inputCity {
    border: none;
    border-radius: 40px 40px 40px 40px;
    background-color: #dc05bfc0;
    padding: 5px 60px 5px 60px;
    outline: none;
    color: white;
}

.inputCity::placeholder {
    color: white !important;
}

.dropdown-toggle {
    padding: 4px!important;
}

.topnav {
    background-color: #4b08a2ef;
    border: none;
    width: 100%;
}

.menuGuia {
    margin-top: 20px;
    border: none;
    padding: 10px;
}

.menuGuia ul li {
    display: inline !important;
}

.menuGuia ul li a {
    color: #DC05C0 !important;
    font-weight: bolder !important;
    font-size: 18px;
    text-transform: uppercase;
    text-align: right;
}

.navbar-light .navbar-brand {
    color: white!important;
}

.navbar-light .navbar-toggler {
    color: white!important;
    border-color: white!important;
}


/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change color on hover */

.topnav a:hover {
    color: #007bff;
}


/* Style the content */

.content {
    background-color: #ddd;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}


/* Style the footer */

.footer {
    background-color: #f1f1f1;
    padding: 10px;
}

.card-body img {
    width: 20px;
}

.verde {
    color: green;
    font-size: 2rem;
}

.amarelo {
    color: rgb(251, 255, 1);
    font-size: 2rem;
}

.vermelho {
    color: rgb(172, 13, 13);
    font-size: 2rem;
}